.about-container {
    width: 100%;
    max-width: var(--max-width-pc);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 56px;
}

.about-avatar {
    min-width: 300px;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: -2px 4px 4px 2px rgba(0, 0, 0, 0.15);
    background-image: url("../../assets/avatar.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-info {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.data-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
}

.data-title-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 0 8px;
    min-width: 120px;
    min-height: 100px;
}

.data-title.light {
    color: var(--text-light-color);
}

.data-title.dark {
    color: var(--text-dark-color);
}

.data-title.light p {
    color: var(--text-sub-2-light-color);
}

.data-title.dark p {
    color: var(--text-sub-2-dark-color);
}

.data-title-item i {
    font-size: 2rem;
}

.data-title-item h3 {
    font-size: 1.2rem;
    margin: 4px 0;
    font-weight: 600;
}

.data-title-item p {
    font-size: 1rem;
}

.about-des {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 4px;
    margin-top: 12px;
}

.about-des.light {
    color: var(--text-sub-light-color);
}

.about-des.dark {
    color: var(--text-sub-dark-color);
}

.my-cv {
    width: 120px;
    margin-top: 12px;
}

.my-cv span {
    margin-right: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.my-cv i {
    font-size: 2.4rem;
}





