/* import font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap');

/* variables */
:root {
    --header-dark-color: #242526;
    --footer-dark-color: #242526;
    --footer-light-color: #eee;
    --dark-color: #1b1b1d;
    --light-color: #fff;
    --text-light-color: #333;
    --text-dark-color: #ecece4;
    --text-sub-light-color: #777;
    --text-sub-dark-color: #ccc;
    --text-sub-2-light-color: #aaa;
    --text-sub-2-dark-color: #ddd;
    --padding-parent: 24px;
    --max-width-pc: 1280px;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Customize the track */
::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the track */
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
    background: var(--text-sub-dark-color);
    border-radius: 10px;
    /* Color of the thumb */
}

/* Customize the thumb when hovering over it */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-sub-light-color);
    /* Color of the thumb on hover */
}


/* common */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    padding: 120px 0 60px;
}

section.light {
    background-color: var(--light-color);
}

section.dark {
    background-color: var(--dark-color);
}

.btn {
    min-width: 120px;
    min-height: 48px;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn.light {
    color: var(--text-dark-color);
    background-color: var(--dark-color);
}

.btn.dark {
    color: var(--text-light-color);
    background-color: var(--light-color);
}

/* RESPONSIVE */
@media screen and (max-width: 1023px) and (min-width: 768px){  
    .data-name {
        font-size: 4rem;
    }

    .data-career {
        font-size: 1.6rem;
    }

    .home-data {
        margin-left: 20px;
    }
    .home-data-des {
        font-size: 1.5rem;
    }

    .home-data-btn i,
    .btn {
        font-size: 1.5rem;
    }

    .home-data-pic {
        min-width: 260px;
        min-height: 260px;
    }

    .home-scroll-down {
        margin-top: 100px;
    }

    .about-avatar {
        min-width: 250px;
        min-height: 250px;
    }

    section.contact {
        padding: 40px 0 100px;
    }

}

@media screen and (max-width: 767px){

    /* common */
    section {
        padding: 80px 0 40px;
    }
    /* header */
    .header {
        bottom: 0;
        top: auto;
        border-top: 2px solid #ccc;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .header-container {
        height: auto;
        min-height: 70px;
    }

    .menu {
        margin: 0 auto;
    }

    .menu.show-menu {
        margin: 0;
    }
    .menu.show-menu .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
    .logo-disable {
        display: none;
    }

    .navbar {
        width: 100%;
        flex-wrap: wrap;
    }

    .navbar-item {
        width: 30%;
        margin: 16px 4px;
    }

    .multi-themes {
        max-width: 50px;
        margin-left: 30px;
    }

    .navbar-item-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        font-size: 1.2rem;
        height: 40px;
    }

    .navbar-item-link i {
        display: block;
        font-size: 1.6rem;
    }
    /* home */
    section#home {
        padding: 20px 0 40px;
    }

    .container {
        padding: 40px var(--padding-parent) 0;
    }

    .home-container {
        align-items: flex-start;
    }

    .home-data {
        flex-direction: column;
    }

    .home-data-pic {
        min-width: 200px;
        min-height: 200px;
        margin-bottom: 16px;
    }

    .home-data-name {
        font-size: 4rem;
    }

    .home-scroll-down {
        display: none;
    }

    /* about */

    .about-data {
        flex-direction: column;
    }

    .about-avatar {
        min-width: 200px;
        min-height: 200px;
    }

    .about-info {
        align-items: center;
        text-align: center;
    }

    .data-title {
        flex-wrap: wrap;
        margin-top: 12px;
    }

    .data-title-item {
        margin: 16px 8px 0;
        flex: none;
    }

    .about-des {
        margin-top: 20px;
    }
    .my-cv {
        margin-top: 20px;
    }

    /* skills */
    .skills-data-item {
        min-width: fit-content;
        grid-template-columns: auto auto;
    }

    .skill {
        margin: 4px;
    }

    /* contact */
    .contact-wrap {
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }

    .contact-component {
        margin: 20px 0;
    }

    .toast {
        top: 10px;
        right: 0;
    }

    /* footer */
    .footer-container {
        padding: 60px var(--padding-parent) 90px;
    }
}